<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-12 offset-lg-3">
      <div class="form-with-border mx-auto">
    <div [hidden]="submitted">
      <h1 class="text-center">Register Form</h1>
      <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" required [(ngModel)]="model.firstName" name="firstName">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" required [(ngModel)]="model.lastName" name="lastName">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control " id="age"
                   required
                   [(ngModel)]="model.age" name="age">
          </div>
          </div>
          <div class="col-sm-6">
          <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control " id="email"
                   required
                   [(ngModel)]="model.email" name="email">
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control " id="password"
                   required
                   [(ngModel)]="model.password" name="password">
          </div>
          </div>
         
            <div class="col-sm-6">
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control " id="password"
                   required
                   [(ngModel)]="model.password" name="password">
          </div>
            </div>
        </div>
  
        <div class="row">
          <div class="col-sm-6">
        <div class="form-group">
          <label for="nationality">Nationality</label>
          <select class="form-control " id="nationality"
                  required
                  [(ngModel)]="model.nationality" name="nationality"
                  #nat="ngModel">
            <option *ngFor="let nat of nationalities" [value]="nat">{{nat}}</option>
          </select>
          <div [hidden]="nat.valid || nat.pristine" class="alert alert-danger">
            Nationality is required
          </div>
        </div>
          </div>
        
            <div class="col-sm-6">
        <div class="form-group">
          <label for="gender">Gender</label>
          <select class="form-control " id="gender"
                  required
                  [(ngModel)]="model.gender" name="gender"
                  #gen="ngModel">
            <option *ngFor="let gen of gender" [value]="gen">{{gen}}</option>
          </select>
          <div [hidden]="gen.valid || gen.pristine" class="alert alert-danger">
           Gender is required
          </div>
        </div>
            </div>
        </div>
        <div class="text-center mt-5" >
          <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
          <span style="margin: 0 10px;"></span>
          <button type="button" class="btn btn-default" (click)="newStudent(); heroForm.reset()">New Student</button>
        </div>
      </form>
    </div>
 
    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">First Name</div>
        <div class="col-xs-9">{{ model.firstName }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Last Name</div>
        <div class="col-xs-9">{{ model.lastName}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Age</div>
        <div class="col-xs-9">{{ model.age}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email</div>
        <div class="col-xs-9">{{ model.email}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Password</div>
        <div class="col-xs-9">{{ model.password}}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Confirmed Password</div>
        <div class="col-xs-9">{{ model.confirmPassword}}</div>
      </div>
      <br>
      <button type="button" class="btn btn-secondary" (click)="submitted=false">Edit</button>
      <span style="margin: 0 10px;"></span>
      <button type="button" class="btn btn-primary">Confirm</button>
    </div>
  </div>
  </div>
    </div>
  </div>
  