<footer class="footer bg-light shape">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-6 text-left links">
          <span>&copy; 2023 blabla.</span>
          <span style="margin: 0 10px;"></span>
          <a href="#">About Us</a>
          <span style="margin: 0 10px;"></span>
          <a href="#">Contact</a>
        </div>
        <div class="col-6 text-right align-self-center icons">
          <a href="#"><i class="fab fa-facebook fa-lg align-middle"></i></a>
          <span style="margin: 0 10px;"></span>
          <a href="#"><i class="fa-brands fa-twitter fa-lg align-middle"></i></a>
          <span style="margin: 0 10px;"></span>
          <a href="#"><i class="fa-brands fa-whatsapp fa-lg align-middle"></i></a>
        </div>
      </div>
    </div>
  </footer>
  
  

